﻿@using Encuentralo.Models;
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    ViewBag.Title = "Esre es la vista del Info";
    List<ApplicationUser> listUsers = (List<ApplicationUser>)ViewBag.ListUsers;
    List<IdentityRole> listRoles = (List<IdentityRole> )ViewBag.ListRoles;
}

<h2>
    @ViewBag.Title

    <br />
    @ViewBag.Saludo
</h2>

<hr />
<h1>
    Tu lista de usuarios contiene un total de: @listUsers.Count()
</h1>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead> 
    <tbody>
       @foreach(var user in listUsers)
       {
           //landa
           var role = listRoles.FirstOrDefault(r => r.Id == user.Roles.FirstOrDefault().RoleId);
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@role.Name</td>
        </tr>
       }
    </tbody>
    
</table>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var roles in listRoles)
        {
            
        }
        <tr>
            <td>@Roles.Id</td>
            <td>@Roles.Name</td>
        </tr>
    </tbody>
   
</table>
